/* --- Custom css styling with boostrap-4   ---- */


.nav-link {
    padding-right: 10px;
    color: black;
}

.main-text {
    color: #555555;
}

.main-hear-jm {
    background-color: azure;
}

.search-title {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    margin-bottom:10px;
}

.text-show {
    padding:40px;
    color: #090e20;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding:16px;
}

.nav-item {
    justify-content:center;
}

