
<!--
    <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/about"> About Me</a>
        <a href="/help"> Get Help</a>
    </div>

-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-center center-container">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">WeatherApp</a>
  
  <!-- Links -->

  <ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link " href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/help">Help</a>
    </li>
  </ul>
</nav>
