<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/style.css">

    <title>Home</title>
</head>
<div class="main-container">
    <body>
    {{>header}}
    
    <div class="help">
        <div class="box-container">

            <div class="small-box-1">
                <p> Cras ullamcorper nulla ut nulla mollis vestibulum. Donec sit amet dolor felis. Fusce id enim vitae
                    neque
                    gravida rhoncus at id orci. Duis quis urna ac nibh posuere ullamcorper. Aenean in ligula sit amet
                    odio
                    convallis molestie. Quisque enim mi, cursus eget convallis sed, commodo et erat. Donec arcu enim,
                    mollis sit
                    amet nibh ut, mollis blandit velit. Proin sed lobortis augue, a porttitor sapien. Fusce viverra
                    semper quam
                    sed sagittis. Fusce lacinia urna quis dui faucibus, ac vehicula elit viverra. Aliquam erat volutpat.
                    Cras
                    finibus odio ac turpis sagittis egestas.</p>
            </div>

            <div class="small-box-2">
                <p> Cras ullamcorper nulla ut nulla mollis vestibulum. Donec sit amet dolor felis. Fusce id enim vitae
                    neque
                    gravida rhoncus at id orci. Duis quis urna ac nibh posuere ullamcorper. Aenean in ligula sit amet
                    odio
                    convallis molestie. Quisque enim mi, cursus eget convallis sed, commodo et erat. Donec arcu enim,
                    mollis sit
                    amet nibh ut, mollis blandit velit. Proin sed lobortis augue, a porttitor sapien. Fusce viverra
                    semper quam
                    sed sagittis. Fusce lacinia urna quis dui faucibus, ac vehicula elit viverra. Aliquam erat volutpat.
                    Cras
                    finibus odio ac turpis sagittis egestas.</p>
            </div>
        </div>

    </div>

    {{>footer}}
</body>
</div>


</html>